.header {
  background-color: #EEEEEE;
  text-align: center;
  padding: 20px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #EEEEEE;
  font-family: 'Cosmic Sans', cosmic-sans-ms;
}
