
html{
background-color: ##F2E7D6;
font-family: Georgia;
}

body{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

nav{
  width:100%
  margin: 20px 0;
}

nav ul li{
  width: 33%;
  float: left;
}

nav ul li a{
  display: block;
  width: 100%;
  text-align: center;
  padding: 8px 0;
  border-top:2px solid #815444;
  border-right:2px solid #3d1000;
  border-bottom:2px solid #3d1000;
  border-left:2px solid #815444;
  text-decoration: none;
  text-color: black;
}

nav ul{
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header{
padding: 60px;
text-align: center;
background: #FFF0F5;
color: #A9A9A9;
font-size: 30px;
width: 87%
}


img{
  max-width:60%;
}




#review-form{
  display: none
  margin-left: 2.5em;
  padding: 0 2em 2em 0;
  border-width: 2px;
  border-color: black;
  border-style:solid;
}

#about{
  display: none
  margin: 10px;
  padding: 50px;
}

#product-form{
  display: none;
  padding-bottom: 50px;
}

#products-container{
  display: none;
  padding: 75px;
  text-align: center;
}

#product{
  display: none;
}

#reviews-container{
  display: none;
  text-align: center;
  padding: 75px;

}

#edit-review-form{
  margin-left: 2.5em;
  padding: 0 2em 2em 0;
  border-width: 2px;
  border-color: black;
  border-style:solid;
}

#edit-product-form{
  margin-left: 2.5em;
  padding: 0 2em 2em 0;
  border-width: 2px;
  border-color: black;
  border-style:solid;
}
